body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --general-white: rgb(255, 255, 255);
  --light-white: rgba(255, 255, 255, 0.6);
  --main-black: #212121;
  --nav-blue: #2196f3;
  --hero-graphite: #2f303a;
  --graphite: #757575;
  --grey: #f5f4fa;
  --logo: #000000;
}

.hero {
  background-color: var(--hero-graphite);
  color: var(--general-white);
  text-align: center;
  height: 600px;
}
.nav-link {
  color: var(--main-black);
  text-decoration: none;
  font-size: 14px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--nav-blue);
}
span {
  color: var(--nav-blue);
}
.studio {
  color: var(--general-white);
}
.contacts-link {
  color: var(--graphite);
  text-decoration: none;
  font-size: 14px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--nav-blue);
}
.button {
  background-color: var(--nav-blue);
  color: var(--general-white);
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
}

h2,
h3 {
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 16px;
}

.text {
  width: 696px;
  height: 120px;
  font-size: 44px;
}

.spec {
  color: var(--graphite);
  font-size: 16px;
  letter-spacing: 0.03em;
}

footer {
  background-color: var(--hero-graphite);
  color: var(--general-white);
  height: 252px;
  font-size: 14px;
}
.footer-contacts-link {
  color: var(--light-white);
  text-decoration: none;
  display: inline-flex;
}

.logo {
  text-decoration: none;
  color: var(--logo);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo:hover,
.logo:focus {
  text-decoration: underline;
}
ul {
  display: flex;
  text-align: center;
}
header {
  display: flex;
  vertical-align: top;
  margin-bottom: 1px;
  height: 80px;
}

.team {
  background-color: var(--grey);
  text-align: center;
}
.descript {
  font-size: 14px;
  color: var(--graphite);
}
